.container {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.boxPesquisa{
  top: 10%;
  position: relative;
  height: 15%;
  width: 60%;
  border-radius: 7px;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.buttonPesquisa{
  transition: 0.6s;
  padding-left: 20px;
  padding-right: 20px;
  height: 30%;
  background-color: rgb(255,241,89);
  color: black;
  text-decoration: none;
  text-align: center;
  display: flex;
align-items: center;
  border-radius: 5px;
  border: none;
  font-weight: 500;
  font-size: 2vh;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
}

.buttonPesquisa:hover{
  background-color: rgb(53, 53, 53);
  color: rgb(255,241,89);
}

.inputPesquisa
{
 display: flex;
 align-items: center;
 padding-left: 10px;
 border: solid rgb(212, 212, 212) 1px;
 border-radius: 5px;
 width: 80%;
 height: 30%;
}

.inputPesquisa input{
 width: 100%;
 height: 95%;
 border: none;
 padding-left: 5px;
}




