

.container {
  height: 7rem;
  display: flex;
  justify-content: center;
}

.boxPesquisa{
  top: 10%;
  position: relative;
  width: 60%;
  background: #FFFFFF;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}

.divOpcoes {
  display: flex;

  width: 100%;
  height: 20px;
  margin-left: 35px;
  font-size: 10px;
  gap: 10px;
  margin-bottom: 15px;
  margin-top: 10px;
}

.divInput {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.pesquisaSelecionada {
  height: auto;
  display: flex;
  margin: 0;
  align-items: flex-end;
  cursor: pointer;
  font-weight: 700;
  border-bottom: #0DA800 solid 2px;
}

.pesquisaNaoSelecionada {
  height: auto;
  display: flex;
  margin: 0;
  align-items: flex-end;
  font-weight: 700;
  color: #C4C4C4;
  cursor: pointer;
}

.buttonPesquisa{
  transition: 0.6s;
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
  background: #0DA800;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  text-align: center;
  display: flex;
  align-items: center;
  border: none;
  font-weight: 700;
  font-size: 2vh;
  cursor: pointer;
}


.inputPesquisa
{
 display: flex;
 align-items: center;
 padding-left: 10px;
 border: 1.5px solid #C4C4C4;
 border-radius: 10px;
 width: 70%;
 height: 30px;
 margin-left: 20px;
}

.inputPesquisa input{
 width: 90%;
 height: 85%;
 border-radius: 15px;
 border: none;
 padding-left: 5px;
}




