
.container{
  display: flex;
  justify-content: center;
  background-color: rgb(243, 243, 243);
}

.row {
  display: flex;
  flex-direction: row;
}

.boxCadastro {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  width: 50%;
  color: rgb(36, 36, 36);
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}  

.content{
  width: 70%;
}

.button{
  margin-top: 40px;
  height: 6vh;
  border-radius: 10px;
  background-color: #0DA800;
  color: white;
  text-decoration: none;
  text-align: center;
  display: flex;
  align-items: center;
  border: none;
  font-weight: 700;
  width: 80%;
  margin-left: 10%;
  justify-content: center;
  font-size: 2vh;
  cursor: pointer;
}

.inputCadastroOn {
  background: #FFFFFF;
  border: solid #0DA800 1px;
  border-radius: 5px;
  border-radius: 10px;
  margin-bottom: 20px;
  height: 42px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  font-size: 14px;
  line-height: 28px;
  transition: 0.5s;
}

.inputCadastroOff {
  border: solid rgb(141, 141, 141) 1px;
  background-color: #f5f5f5;
  border-radius: 5px;
  border-radius: 10px;
  margin-bottom: 20px;
  height: 42px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  line-height: 28px;
  transition: 0.5s;
}


.load{
  display: flex;
  justify-content: center;
  margin: 200px auto;
}

.load div{
  width: 20px;
  height: 20px;
  background-color: #0DA800;
  border-radius: 50%;
  margin: 0 5px;
  animation-name: up-and-down;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.load .two{
  animation-delay: 0.3s;
}

.load .three{
  animation-delay: 0.6s;
}

@keyframes up-and-down {

  to{
      opacity: 0.2;
      transform: translateY(-20px);
      
  }
}
