.divBox{
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.divBox Image{
    border-radius: 10px;
}

.divBox h6{
    font-weight: 400;
    margin: 0;
    color: rgb(158, 158, 158);
    margin-top: 5px;
    margin-left: 10px;
    
}

.divBox h5{
    font-weight: 400;
    margin: 0;
    color: rgb(158, 158, 158);
    margin-left: 10px;
}

.divBox h4{
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 2px;
    margin-left: 10px;
}

.divPreco {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
    justify-content: space-between;
    margin-top: 15px;
    margin-left: 10px;
}

.divPreco h4 {
    font-weight: 700;
    margin: 0;
}

.divCidade{
    border-top: solid 1px rgb(218, 218, 218);
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: center;
    
}


.botao {
    border: solid 1.5px #0DA800;
    background: none;
    border-radius: 15px;
    font-size: 10px;
    font-weight: 600;
    color:#0DA800;
    height: 20px;
    transition: 0.5s;
    cursor: pointer;
  }

  .botao:hover {
    
    background:#0DA800;
    color:#ffffff;
    transition: 0.5s;
  }
  
  