.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-top: 20px;
  
}

.row {
  display: flex;
  width: 100%;
  flex-direction: row;
  
}


.buttonPesquisa{
  transition: 0.6s;
  padding-left: 20px;
  width: 7vw;
  padding-right: 20px;
  height: 6vh;
  background-color: rgb(255,241,89);
  color: black;
  text-decoration: none;
  text-align: center;
  display: flex;
align-items: center;
  border-radius: 5px;
  border: none;
  font-weight: 500;
  font-size: 2vh;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
}

.divPesquisa{
  width: auto;
  height: 120px;
  padding-left: 10px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  border: solid rgb(201, 201, 201) 1px;
  border-top: none;
}

.inputPesquisa
{
 display: flex;
 align-items: center;
 padding-left: 10px;
 border: solid rgb(235, 235, 235) 1px;
 border-radius: 5px;
 margin-top: 10%;
 height: 30px;
}

.inputPesquisa input{
 width: 100%;
 height: 90%;
 border: none;
 padding-left: 5px;
}
