.container {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  border-radius: 20px;
  background-color: white;
  position: fixed;
  width: 23%;
  height: 80%;
  top: 12%;
}

.row {
  display: flex;
  width: 100%;
  flex-direction: row;
  
}


.buttonPesquisa{
  transition: 0.6s;
  padding-left: 20px;
  width: 7vw;
  padding-right: 20px;
  height: 6vh;
  border-radius: 10px;
  color: #0DA800;
  text-decoration: none;
  text-align: center;
  display: flex;
  align-items: center;
  border: none;
  font-weight: 700;
  font-size: 2vh;
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: -20px;
  transition: 1s;
}

.buttonPesquisa:hover{
  background: #0DA800;
  color: white;
  transition: 1s;
}

.divPesquisa{
  width: auto;
  height: 120px;
  padding-left: 10px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  border-bottom: solid rgb(201, 201, 201) 1px;
  
}

.inputPesquisa
{
 display: flex;
 align-items: center;
 padding-left: 10px;
 border: solid rgb(235, 235, 235) 1px;
 border-radius: 5px;
 margin-top: 10%;
 height: 30px;
}

.inputPesquisa input{
 width: 100%;
 height: 90%;
 border: none;
 padding-left: 5px;
}
