.container {

  background-color: rgb(243, 243, 243);
  display: flex;
  flex-direction: column;
 
}

.section{
  padding: 0;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.sectionLeilao{
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 25px;
  justify-content: center;
  margin-left: 50px;
  margin-top: 30px;
}

.container h3{
  color: grey;
  margin-left: 50px;
  font-weight: 300;
  
}
